.App {
  text-align: center;
}

.signup-input-container{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 15px;
}
.main-box {
  padding-top: 100px;
}
.main-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 30%;
}
.navbar-div {
  padding: 7px;
  display: flex;
  flex-direction: row;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-bottom: 20px;
  position: sticky;
  top: 0,

}
.nav-buttons {
  margin-right: 10px;
  text-decoration: none;
  font-size: 20px;
  color: dodgerblue;
}
.bike-card-div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}
.bikes-cards-outer-div{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  width: 50%;
  justify-content: center;
  margin: auto;
  grid-gap: 20px;
}
.homePage-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.filter-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

.add-events-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 0.5px solid lightblue;
  width: fit-content;
  margin: auto;
  margin-top: 30px;
}
.display-users-div{
  display: grid;
  grid-template-columns: repeat(3,33%);
  grid-gap: 15px;
  align-items: center;
  justify-content:space-between;
  padding: 20px;
}
.user-image{
  width: 20px;
}
